{% extends 'admin/base.html.twig' %}

{% block bodyLogin %}
    <h1 class="col-md-12 text-center text-white">
        <a href="{{ path('front_accueil') }}" class="text-white"
        style="text-decoration: none">
            <span class="text-info">REC</span>ETTA
        </a>
    </h1>
    <div class="col-md-12 text-center text-secondary h6">
        {{ 'login.block_title'|trans }}
    </div>
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
           <i class="fa fa-user"></i> {{ 'login.card_title'|trans }}
        </div>
        <div class="card-body">
            <form action="{{ path('account_connexion') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger text-center">
                        <i class="fa fa-close"></i>
                        {% if error.messageKey == 'DISABLE' %}
                            {{ 'login.alert_disable'|trans }}
                        {% elseif error.messageKey == 'INCORRECT_ORGANISATION' %}
                            {{ 'login.alert_incorrect_organisation'|trans }}
                        {% else %}
                            {{ 'login.alert_invalid_credentials'|trans }}
                        {% endif %}

                    </div>
                {% endif %}
                {% include 'admin/partials/flashBag.html.twig' %}
                <div class="form-group">
                    <label for="username">{{ 'login.form_username'|trans }}</label>
                    <input class="form-control" id="username" type="text"
                           aria-describedby="usernameHelp" name="_username" placeholder="{{ 'login.form_username'|trans }}">
                </div>
                <div class="form-group">
                    <label for="password">{{ 'login.form_password'|trans }}</label>
                    <input class="form-control" id="password"
                           type="password" name="_password" placeholder="{{ 'login.form_password'|trans }}">
                </div>
                <div class="form-group">
                    <label for="entreprise">{{ 'login.form_organisation'|trans }}</label>
                    <select class="form-control" id="entreprise" name="_entreprise_id">
                        {% for entreprise in entreprises  %}
                            <option value="{{ entreprise.id }}">
                                {{ entreprise.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btn btn-primary btn-block">
                   <i class="fa fa-sign-in"></i> {{ 'login.form_btn_connexion'|trans }}
                </button>
                <a class="btn bg-danger" href="{{ path('connect_google_start') }}">
                  <i class="fa fa-google"></i>  Google
                </a>
            </form>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ 'login.title'|trans }}
{% endblock %}