{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="alert alert-primary">{{ 'password_reset.block_title'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group mt-2">
            <button class="btn btn-primary">
                {{ 'password_reset.btn_modify'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
        <div class="alert alert-warning">
            <small class="font-weight-bold">
                <i class="fa fa-info-circle"></i> {{ 'password_reset.alert_warning'|trans }}
            </small>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ 'password_reset.title'|trans }}
{% endblock %}

