{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="alert alert-primary">{{ 'profile.block_title'|trans }}</h1>
        <div class="row my-3">
            <div class="col-md-12">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="alert alert-info">{{ 'profile.form_title'|trans }}</h4>
                                    {{ form_row(form.username) }}
                                    {{ form_row(form.email) }}
                                    {{ form_row(form.telephone) }}
                                    {{ form_row(form.dateNaissance) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="alert alert-info">{{ 'profile.security_label'|trans }}</h4>
                                    <div class="pl-5">
                                        {{ form_row(form.googleauthenticatorenable) }}
                                    </div>
                                    {% if svg is defined %}
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <div class="text-center">
                                                    {{ svg | raw }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    {{ 'profile.info_security_authenticator'|trans }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="form-group mt-2">
                                        <button class="btn btn-primary">
                                            <i class="fa fa-edit"></i> &nbsp; {{ 'profile.form_btn_modify'|trans }}
                                        </button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="alert alert-warning">
            <small class="font-weight-bold">
                <i class="fa fa-info-circle"></i> {{ 'profile.alert_warning'|trans }}
            </small>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ 'profile.title'|trans }}
{% endblock %}

