{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% include 'admin/partials/flashBag.html.twig' %}
    <div class="row my-5 align-items-center">
        {% if svg is not null %}
            <div class="col-md-6">
                <div class="text-center">
                    {{ svg | raw }}
                </div>
            </div>
        {% endif %}

        <div class="col-md-6
        {% if svg is null %}
        offset-md-3"
        {% endif %}
        >
            <div class="card">
                <div class="card-body">
                    <div class="mb-4 alert alert-info">
                        {% if svg is not null %}
                            <p>
                                {{ 'two_factor.alert_info_if'|trans|raw }}
                            </p>
                        {% else %}
                            <p>
                                {{ 'two_factor.alert_info_else'|trans|raw }}
                            </p>
                        {% endif %}
                    </div>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary">
                        {{ 'two_factor.btn_verify'|trans }}
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}