<!-- Favicon -->
<link href="{{ asset('img/favicon.ico') }}" rel="shortcut icon"/>

<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('front/css/font-awesome.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('front/css/owl.carousel.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('front/css/slicknav.min.css') }}"/>

<!-- Main Stylesheets -->
<link rel="stylesheet" href="{{ asset('front/css/style.css') }}"/>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->