<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-5">
                <h5 class="text-white"><span class="text-info">REC</span>ETTA</h5>
                <div class="copyright">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
                    <span class="text-white-50">Yvano Berthol</span>
                    <span class="ml-3 btn-group pull-right">
                        <a class="btn btn-secondary"
                           href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a>
                        <a class="btn btn-secondary"
                           href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->