<!-- Header section -->
<header class="header-section clearfix">
    <a href="{{ path('front_accueil') }}" class="site-logo">
        <h3 class="text-white"><span class="text-info">REC</span>ETTA</h3>
    </a>
    <div class="header-right">
        <div class="user-panel">
            <a href="{{ path('front_account_register') }}" class="register">
                {{ 'front.header.link_create_account'|trans }}
            </a>
            <span>|</span>
                <a href="{{ path('account_connexion') }}" class="login">
                    {{ 'front.header.link_login'|trans }}
                </a>
        </div>
    </div>
    <ul class="main-menu">
        <li>
            <a href="{{ path('front_accueil') }}">
                {{ 'front.header.link_home'|trans }}
            </a>
        </li>
       {# <li><a href="#">En savoir plus</a></li>#}
    </ul>
</header>
<!-- Header section end -->