{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'parametre.title'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center alert alert-info h2">
                <div class="card-title">
                    <i class="fa fa-table"></i> {{ 'parametre.block_title'|trans }}
                </div>
            </div>
            <div class="card-body">
                {% include 'admin/partials/flashBag.html.twig' %}
                <div class="table-responsive col-md-6 offset-md-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ 'parametre.tr_nom'|trans }}</th>
                                <th>{{ 'parametre.tr_valeur'|trans }}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <form action="{{ path('parametre_update') }}" method="post">
                                {% for parametre in parametres %}
                                        <tr>
                                            <td class="text-center">
                                                <input type="hidden" name="code[{{ parametre.id }}]" value="{{ parametre.code }}">
                                                {{parametre.name}}
                                            </td>
                                            <td class="text-center">
                                                <input type="text" name="value[{{ parametre.id }}]" value="{{ parametre.value }}">
                                            </td>
                                        </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="2" class="text-center">
                                        <button class="btn btn-primary">
                                            <i class="fa fa-edit"></i> {{ 'parametre.btn_update'|trans }}
                                        </button>
                                    </td>
                                </tr>
                            </form>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
