{% for label, messages in app.flashes %}
    <div class="alert">
        {% for message in messages %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-{{ label }}">
                    <i class="{% if label == 'success' %}
                                fa fa-check-circle
                              {% elseif label == 'danger' %}
                                fa fa-close
                              {% elseif label == 'info' %}
                                fa fa-info-circle
                              {% elseif label == 'warning' %}
                                fa fa-warning
                              {% endif %}">
                    </i>
                    {{ message|trans|raw}}
                </li>
            </ul>
        {% endfor %}
    </div>
{% endfor %}