<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small class="h5">{{ webmaster }}</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ 'footer.logout.modal_title'|trans }}
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">{{ 'footer.logout.modal_body'|trans|raw }}</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    {{ 'footer.logout.modal_btn_annule'|trans }}
                </button>
                <a class="btn btn-primary" href="{{path('account_logout')}}">
                  <i class="fa fa-sign-out"></i> {{ 'footer.logout.modal_btn_logout'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>