<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    {{render(controller('App\\Controller\\GlobalController::titleEntreprise'))}}
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        {% include 'admin/partials/sideBar.html.twig' %}
        <div>
           <span class="ml-3 btn-group pull-right">
                <a class="btn btn-secondary"
                   href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a>
                <a class="btn btn-secondary"
                   href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
           </span>
        </div>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        {% include 'admin/partials/topnav.html.twig' %}
    </div>
</nav>