<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right"
        title="{{ 'sidebar.link.dashboard'|trans }}">
        <a class="nav-link" href="{{path('accueil')}}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">{{ 'sidebar.link.dashboard'|trans }}</span>
        </a>
    </li>
    {%  if is_granted('ROLE_MANAGER') %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right"
        title="{{ 'sidebar.link.product.title'|trans }}">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProduit"
           data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-product-hunt"></i>
            <span class="nav-link-text">{{ 'sidebar.link.product.title'|trans }}</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseProduit">
            <li>
                <a href="{{path('produit_new')}}">{{ 'sidebar.link.product.add'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('produit_index') }}">{{ 'sidebar.link.product.list'|trans }}</a>
            </li>
        </ul>
    </li>
    {% endif %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right"
        title="{{ 'sidebar.link.recette.title'|trans }}">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseRecette"
           data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-money"></i>
            <span class="nav-link-text">{{ 'sidebar.link.recette.title'|trans }}</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseRecette">
            <li>
                <a href="{{path('recette_new')}}">{{ 'sidebar.link.recette.add'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('recette_index') }}">{{ 'sidebar.link.recette.list'|trans }}</a>
            </li>
            {%  if is_granted('ROLE_MANAGER') %}
            <li>
                <a href="{{ path('recette_stat') }}">{{ 'sidebar.link.recette.stat'|trans }}</a>
            </li>
            {% endif %}
        </ul>
    </li>
    {%  if is_granted('ROLE_MANAGER') %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right"
        title="{{ 'sidebar.link.depense.title'|trans }}">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseDepense"
           data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-exchange"></i>
            <span class="nav-link-text">{{ 'sidebar.link.depense.title'|trans }}</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseDepense">
            <li>
                <a href="{{path('depense_new')}}">{{ 'sidebar.link.depense.add'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('depense_index') }}">{{ 'sidebar.link.depense.list'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('depense_stat') }}">{{ 'sidebar.link.depense.stat'|trans }}</a>
            </li>
        </ul>
    </li>
    {% endif %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right"
        title="{{ 'sidebar.link.dette.title'|trans }}">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseDette"
           data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-book"></i>
            <span class="nav-link-text">{{ 'sidebar.link.dette.title'|trans }}</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseDette">
            <li>
                <a href="{{path('dette_new')}}">{{ 'sidebar.link.dette.add'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('dette_index') }}">{{ 'sidebar.link.dette.list'|trans }}</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right"
        title="{{ 'sidebar.link.reglement.title'|trans }}">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
           href="#collapseReglement"
           data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-backward"></i>
            <span class="nav-link-text">{{ 'sidebar.link.reglement.title'|trans }}</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseReglement">
            <li>
                <a href="{{ path('reglement_index') }}">{{ 'sidebar.link.reglement.list'|trans }}</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right"
        title="{{ 'sidebar.link.client.title'|trans }}">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
           href="#collapseClient"
           data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-user-circle-o"></i>
            <span class="nav-link-text">{{ 'sidebar.link.client.title'|trans }}</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseClient">
            <li>
                <a href="{{path('client_new')}}">{{ 'sidebar.link.client.add'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('client_index') }}">{{ 'sidebar.link.client.list'|trans }}</a>
            </li>
        </ul>
    </li>
    {%  if is_granted('ROLE_ADMIN') %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right"
        title="{{ 'sidebar.link.utilisateur.title'|trans }}">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
           href="#collapseUtilisateur"
           data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">{{ 'sidebar.link.utilisateur.title'|trans }}</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseUtilisateur">
            <li>
                <a href="{{path('utilisateur_new')}}">
                    {{ 'sidebar.link.utilisateur.add'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('utilisateur_index') }}">
                    {{ 'sidebar.link.utilisateur.list'|trans }}
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
</ul>