<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-user"></i>
            <span class="text-capitalize">{{app.user.username}}</span>
            <span class="d-lg-none">{{app.user.username}}</span>
            <span class="indicator text-success d-none d-lg-block">
                <i class="fa fa-user fa-circle"></i>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header text-uppercase">
                {{ 'topnav.dropdown.title'|trans }} <b class="text-info">{{app.user.role.title}}</b>
            </h6>
            {% if app.user.role.title == 'ADMIN' %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item badge badge-light p-2" href="{{ path('entreprise_index') }}">
                    <strong class="h6">
                        {{ 'topnav.dropdown.organisation'|trans }}
                    </strong>
                </a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item badge badge-light p-2" href="{{ path('account_reset_password') }}">
                <strong class="h6">
                    {{ 'topnav.dropdown.update_password'|trans }}
                </strong>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item badge badge-light p-2" href="{{ path('account_profile') }}">
                <strong class="h6">
                    {{ 'topnav.dropdown.update_info'|trans }}
                </strong>
            </a>
            {% if app.user.role.title == 'ADMIN' %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item badge badge-light p-2" href="{{ path('parametre') }}">
                <strong class="h6">
                    {{ 'topnav.dropdown.parametre'|trans }}
                </strong>
            </a>
            {% endif %}
        </div>
    </li>
    <li class="nav-item">
        <a href="#logoutModal" class="nav-link" data-toggle="modal">
            <i class="fa fa-fw fa-sign-out"></i> {{ 'topnav.dropdown.logout_link'|trans }}
        </a>
    </li>
</ul>