{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ 'accueil.title'|trans }}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        {% include 'admin/partials/flashBag.html.twig' %}
    </div>

    {% if app.user.role.title == 'ADMIN' %}
        <div class="col-md-12 alert alert-info">
        <span class="float-right py-3 px-3">
            <span>
               <i class="fa fa-money"></i> {{ 'accueil.solde'|trans }}: <b>{{ app.user.balance }}</b> XAF
            </span>
            |
            <span>
                <a class="btn btn-info" href="">
                   <i class="fa fa-database"></i> Faucet Pay
                </a>
                <a class="btn btn-danger" href="">
                   <i class="fa fa-dollar"></i> Perfect Money
                </a>
            </span>
        </span>
    </div>
    {% endif %}

    <div class="col-md-6 {% if app.user.role.title != 'ADMIN' %}offset-md-3{% endif %}">
        <div class="card">
            <div class="card-header alert alert-primary">
                <div class="card-title font-weight-bolder h6">
                    {{ 'accueil.competence'|trans }}
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    {% set entreprise_id = app.session.get('entreprise') %}
                    <tr>
                        <td>
                            {{ 'accueil.nbre_recette'|trans }}
                        </td>
                        <td>
                            <span class="badge h4 badge-info">
                                {{utilisateur.getRecettes(entreprise_id) | length}}
                            </span>
                            / {{ entreprise.recettes|length }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'accueil.nbre_depense'|trans }}
                        </td>
                        <td>
                            <span class="badge h4 badge-info">
                                {{utilisateur.getDepenses(entreprise_id) | length}}
                            </span>
                                / {{ entreprise.depenses|length }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'accueil.nbre_dette'|trans }}
                        </td>
                        <td>
                            <span class="badge h4 badge-info">
                                {{utilisateur.getDettes(entreprise_id) | length}}
                            </span>
                            / {{ entreprise.dettes|length }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'accueil.nbre_reglement'|trans }}</td>
                        <td>
                            <span class="badge h4 badge-info">
                                {{utilisateur.getReglements(entreprise_id) | length}}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% if app.user.role.title == 'ADMIN' %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-header alert alert-primary">
                    <div class="card-title font-weight-bolder h6">
                        {{ 'accueil.plan_souscription'|trans }}
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        {% set souscription =  entreprise.souscription%}
                        <tr>
                            <td>
                                <span>
                                    {{ 'accueil.dernier_souscrit'|trans }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{souscription.package.name}} ({{ souscription.package.nbreJours }} jours)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    {{ 'accueil.date_expiration'|trans }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{souscription.expiration | date('d M Y')}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    {{ 'accueil.nbre_jour_restant'|trans }}
                                </span>
                            </td>
                            <td>
                                <span class="badge badge-{% if souscription.nbreJourRestants <= 5 %}danger{% else %}primary{% endif %}">
                                    {% if souscription.nbreJourRestants > 0 %}
                                        {{souscription.nbreJourRestants}}
                                    {% else %}
                                       <i class="fa fa-warning"></i> {{ 'accueil.plan_expire'|trans }}
                                    {% endif%}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <button class="btn btn-success" data-toggle="modal"
                                        data-target="#addModalSouscription">
                                   <i class="fa fa-recycle"></i>
                                    <span>{{ 'accueil.renew_souscription'|trans }}</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        {% if produits|length > 0 %}
            <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <form method="get" action="{{ path('accueil') }}">
                                    <div class="form-inline">
                                        <select name="id" id="produit" class="form-control">
                                            {% for produitLigne in produits %}
                                                <option value="{{ produitLigne.id }}" {% if produitLigne.id == produit.id %}selected{% endif %}>
                                                    {{ produitLigne.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-primary ml-2">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </ol>
                        </div>
                        <div class="col-md-12 h4 text-center">
                            <span>{{ 'accueil.produit_label'|trans }}</span>: <span class="text-uppercase text-info">{{ produit.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    <span>
                       {{ 'accueil.stat_label'|trans }}
                    </span>
                    <div class="float-right">
                        <form action="" class="form-inline">
                            <select name="annee_bar" id="annee_bar" class="form-control mr-1">
                                {% for annee in annees %}
                                    <option value="{{ annee }}">{{ annee }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-info mr-5" id="btnForBarChart">
                               <span>{{ 'accueil.search_button'|trans }}</span>
                            </button>
                            <button id="downloadChartPdf">
                                <i class="fa fa-download"></i>
                                <span>
                                    {{ 'accueil.download_button'|trans }}
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10" id="reportPage">
                            <canvas id="myBarChartRecetteDepense" width="100%" height="30"></canvas>
                        </div>
                        <div class="col-sm-4 col-md-2 text-center my-auto">
                            <div class="h6 mb-0 text-primary" id="montant_recette_annuel">
                            </div>
                            <div class="small text-muted">
                                <span>{{ 'accueil.stat_label_recette'|trans }}</span>
                            </div>
                            <hr>
                            <div class="h6 mb-0 text-warning" id="montant_depense_annuel">
                            </div>
                            <div class="small text-muted">
                                <span>{{ 'accueil.stat_label_depense'|trans }}</span>
                            </div>
                            <hr>
                            <div class="h6 mb-0 text-info" id="montant_dette_annuel">
                            </div>
                            <div class="small text-muted">
                                <span>
                                    {{ 'accueil.stat_label_dette'|trans }}
                                </span>
                            </div>
                            <hr>
                            <div class="h6 mb-0" id="montant_benefice_annuel">
                            </div>
                            <div class="small text-muted">
                                <span>
                                    {{ 'accueil.stat_label_benefice'|trans }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="modal fade" id="addModalSouscription" tabindex="-1" role="dialog"
             aria-labelledby="addModalSouscriptionLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                           <span>{{ 'accueil.modal_title'|trans }}</span>
                        </h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ path('souscription_renew') }}" method="post">
                            <input type="hidden" value="{{ souscription.id }}"
                                   name="souscription_id" id="souscription_id">
                            <div class="form-group">
                                <label for="package_id">
                                    {{ 'accueil.modal_plan_label'|trans }}
                                </label>
                                <select class="form-control" name="package_id" id="package_id">
                                    {% for package in packages %}
                                        <option value="{{ package.id }}">
                                            {{ package.name }} ({{ package.nbreJours }} {{ 'accueil.day_abbr_label'|trans }}) ____
                                            {{ package.prix }} <span>{{ 'accueil.currency_label'|trans }}</span>
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-recycle"></i>
                                    {{ 'accueil.modal_renew_button'|trans }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block javascripts %}
    {% if produits|length > 0 %}
    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('js/downloadChart.js') }}"></script>
    <script src="{{ asset('js/formatNumber.js') }}"></script>
    <script src="{{ asset('js/allMonth.js') }}"></script>
    <script src="{{ asset('js/recetteFunction.js') }}"></script>
    <script src="{{ asset('js/depenseFunction.js') }}"></script>
    <script src="{{ asset('js/detteFunction.js') }}"></script>
    <script src="{{ asset('js/pourcentageFunction.js') }}"></script>
    <script src="{{ asset('js/loadChart.js') }}"></script>
    <script src="{{ asset('js/minAndMaxStat.js') }}"></script>
    <!-- Custom scripts for this page-->
    <script>

        let dateRecettes = [];
        let dateDepenses = [];
        let dateDettes = [];

        {% for recette in produit.recettes  %}
        dateRecettes.push(
            {
                date: '{{ recette.date| date('Y-m-d') }}',
                montant: {{ recette.montant }}
            });
        {% endfor %}

        {% for dette in produit.dettes  %}
        dateDettes.push(
            {
                date: '{{ dette.date| date('Y-m-d') }}',
                montant: {{ dette.montantReglee }}
            });
        {% endfor %}

        {% for depense in produit.depenses  %}
        dateDepenses.push(
            {
                date: '{{ depense.date| date('Y-m-d') }}',
                montant: {{ depense.montant }}
            });
        {% endfor %}

        const elemContext = "myBarChartRecetteDepense";
        const montantTable =  updateLabel(new Date().getFullYear());
        let horizontalChart = loadChart(elemContext,montantTable);

        $('#btnForBarChart').click(function (event) {
            event.preventDefault();
            const annee_bar = parseInt($('#annee_bar').val());
            const montantTable = updateLabel(annee_bar);

            // mettre à jour la chart
            horizontalChart.options.scales.xAxes[0].ticks.max = 0;
            if (montantTable.length > 0){
                const valueMax = montantTable[argMax(montantTable)];
                horizontalChart.options.scales.xAxes[0].ticks.max = pourcentageLimitChart(valueMax);
            }
            horizontalChart.data.datasets[0].data = montantTable;
            horizontalChart.update();
        });

        $('#downloadChartPdf').click(function(event) {
            event.preventDefault();
            const b64data = convertB64ImgToB64(horizontalChart.toBase64Image());
            const blob = base64ToBlob(b64data,'image/png');
            getLink(blob,'statBarChartRecetteDepense')
        });


        function updateLabel(year) {
            const montants = montantArray(year);

            let benefice = (montants[0] + montants[2]) - montants[1];

            const idBenefice = $('#montant_benefice_annuel');

            $('#montant_depense_annuel').text(formatNumber(montants[1]));
            $('#montant_recette_annuel').text(formatNumber(montants[0]));
            $('#montant_dette_annuel').text(formatNumber(montants[2]));
            idBenefice.text(formatNumber(benefice));

            if (benefice > 0){
                idBenefice.addClass('text-success');
                idBenefice.removeClass('text-secondary');
                idBenefice.removeClass('text-danger');
            }else if (benefice === 0){
                idBenefice.addClass('text-secondary');
                idBenefice.removeClass('text-success');
                idBenefice.removeClass('text-danger');
            }else{
                idBenefice.addClass('text-danger');
                idBenefice.removeClass('text-success');
                idBenefice.removeClass('text-secondary');
            }

            return montants;
        }
        function montantArray(year) {
            return [
                montantRecetteAnnuelle(year),
                montantDepenseAnnuelle(year),
                montantDetteAnnuelle(year)
            ];
        }
    </script>
    {% endif %}
{% endblock %}

