<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Bootstrap core CSS-->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="{{ asset('vendor/datatables/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/datatables/css/buttons.dataTables.min.css') }}" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
        <style>
            button:hover{
                cursor: pointer;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    {% if app.user %}
        {% include 'admin/partials/navbar.html.twig' %}
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 birthday text-center">

                    </div>
                </div>
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        Page
                    </li>
                    <li class="breadcrumb-item active">
                        {{title|trans}}
                    </li>
                </ol>
                <div class="row p-3">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% include 'admin/partials/footer.html.twig' %}
    {% else %}
        {% block bodyLogin %}{% endblock %}
    {% endif %}
        <!-- Bootstrap core JavaScript-->
        <script src="{{ asset('vendor/datatables/jquery.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <!-- Core plugin JavaScript-->
        <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
        <script>
            $('[data-toggle="tooltip"]').tooltip();
        </script>
        <script>
            $('#sidenavToggler').click(function() {
                $('body').toggleClass('sidenav-toggled');
            });

        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
