{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center alert alert-info h2">
                <div class="card-title">
                    {{ 'reglement.edit.block_title'|trans }}
                </div>
            </div>
            <div class="card-body">
                {{form_start(form)}}
                {{ form_widget(form) }}
                <div class="form-group">
                    Client: <span class="h5 text-info">
                        {{ form.vars.value.dette.client.name}}
                    </span>
                </div>
                <button type="submit" class="btn btn-lg btn-outline-info">
                    <i class="fa fa-edit"></i> {{ 'reglement.edit.btn_edit'|trans }}
                </button>

                <a href="{{ path('reglement_delete',{'id':form.vars.value.id}) }}" class="btn btn-lg btn-outline-danger">
                    <i class="fa fa-trash"></i> {{ 'reglement.edit.btn_delete'|trans }}
                </a>
                {{form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    {{ 'reglement.edit.title'|trans }}
{% endblock %}