{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'reglement.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center alert alert-info h2">
                <div class="card-title">
                    <i class="fa fa-table"></i> {{ 'reglement.index.block_title'|trans }}
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{ 'reglement.index.tr_date'|trans }}</th>
                            <th>{{ 'reglement.index.tr_montant'|trans }}</th>
                            <th>{{ 'reglement.index.tr_produit'|trans }}</th>
                            <th>{{ 'reglement.index.tr_client'|trans }}</th>
                            <th class="not-export" data-sort="false">
                                {{ 'reglement.index.tr_actions'|trans }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reglement in reglements %}
                            <tr>
                                <td>{{reglement.id}}</td>
                                <td>{{reglement.date | date('d M Y')}}</td>
                                <td>{{reglement.montant}}</td>
                                <td>{{reglement.dette.produit.name}}</td>
                                <td>{{reglement.dette.client.name}}</td>
                                <td class="not-export">
                                    {% if app.user == reglement.utilisateur or app.user.role.title != 'EMPLOYE' %}
                                    <a href="{{ path('reglement_edit',{'id':reglement.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#deleteModal{{reglement.id}}" data-toggle="modal" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                    <!-- Delete Modal-->
                                    <div class="modal fade" id="deleteModal{{reglement.id}}" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        {{ 'reglement.index.delete_modal_title'|trans }}
                                                    </h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ 'reglement.index.delete_modal_body1'|trans }}
                                                    <span class="text-primary">{{ reglement.montant }}</span>
                                                    {{ 'reglement.index.delete_modal_body2'|trans }} {{ reglement.dette.client.name }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                        {{ 'reglement.index.delete_modal_btn_annule'|trans }}
                                                    </button>
                                                    <a class="btn btn-danger" href="{{ path('reglement_delete',{'id':reglement.id}) }}">
                                                        <i class="fa fa-trash"></i>  {{ 'reglement.index.delete_modal_btn_delete'|trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {%  include 'admin/partials/jsTable.html.twig' %}
{% endblock %}
