{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'statdepense.title'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <form method="get" action="{{ path('depense_stat') }}">
                                <div class="form-inline">
                                    <select name="id" id="produit" class="form-control">
                                        {% for produitLigne in produits %}
                                            <option value="{{ produitLigne.id }}"
                                                    {% if produitLigne.id == produit.id %}selected{% endif %}>
                                                {{ produitLigne.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-primary ml-2">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </ol>
                    </div>
                    <div class="col-md-12 h4 text-center">
                        {{ 'statdepense.product_label'|trans }}: <span class="text-uppercase text-info">{{ produit.name }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> {{ 'statdepense.block_title1'|trans }}
                <div class="float-right">
                    <form action="" class="form-inline">
                        <select name="mois_area" id="mois_area" class="form-control mr-1">
                            {% for key,month in months %}
                                <option value="{{ key - 1 }}" {% if key == monthNow %}selected{% endif %}>
                                    {{month}}
                                </option>
                            {% endfor %}
                        </select>
                        <select name="annee_area" id="annee_area" class="form-control mr-1">
                            {% for annee in annees %}
                                <option value="{{ annee }}">{{ annee }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-info mr-5" id="btnForAreaChart">
                            {{ 'statdepense.search_button'|trans }}
                        </button>
                        <button id="downloadAreaChartPdf">
                            <i class="fa fa-download"></i> {{ 'statdepense.download_button'|trans }}
                        </button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <canvas id="myAreaChartDepense" width="100%" height="30"></canvas>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bar-chart"></i> {{ 'statdepense.block_title2'|trans }}
                <div class="float-right">
                    <form action="" class="form-inline">
                        <select name="annee_bar" id="annee_bar" class="form-control mr-1">
                            {% for annee in annees %}
                                <option value="{{ annee }}">{{ annee }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-info mr-5" id="btnForBarChart">
                            {{ 'statdepense.search_button'|trans }}
                        </button>
                        <button id="downloadBarChartPdf">
                            <i class="fa fa-download"></i> {{ 'statdepense.download_button'|trans }}
                        </button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <canvas id="myBarChartDepense" width="100%" height="30"></canvas>
                    </div>
                    <div class="col-sm-4 col-md-2 text-center my-auto">
                        <div id="montant_annuel" class="h4 mb-0 text-primary">$34,693</div>
                        <div class="small text-muted">{{ 'statdepense.depense_label'|trans }}</div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if produit is defined %}
        <!-- Page level plugin JavaScript-->
        <script src="{{ asset('vendor/chart.js/Chart.min.js') }}"></script>
        <script src="{{ asset('js/downloadChart.js') }}"></script>
        <script src="{{ asset('js/formatNumber.js') }}"></script>
        <script src="{{ asset('js/allMonth.js') }}"></script>
        <script src="{{ asset('js/minAndMaxStat.js') }}"></script>
        <script src="{{ asset('js/depenseFunction.js') }}"></script>
        <script src="{{ asset('js/loadChart.js') }}"></script>
        <script src="{{ asset('js/pourcentageFunction.js') }}"></script>
        <!-- Custom scripts for this page-->
        <script>

            let dateDepenses = [];

            {% for depense in produit.depenses  %}
            dateDepenses.push(
                {
                    date: '{{ depense.date| date('Y-m-d') }}',
                    montant: {{ depense.montant }}
                });
            {% endfor %}

            montantAnnuelle(new Date().getFullYear());

            let elemBarChart = "myBarChartDepense";
            let elemAreaChart = "myAreaChartDepense";

            const loadArea = loadAreaChart(elemAreaChart, depenseByMonth(dateDepenses,
                new Date().getUTCMonth(),new Date().getFullYear()));
            const loadBar = loadBarChart(elemBarChart,depenseByYear(dateDepenses, new Date().getFullYear()));

            // mettre à jour la vue du tableau statisque en fonction des critères
            $('#btnForAreaChart').click(function (event) {
                event.preventDefault();
                const mois_area = parseInt($('#mois_area').val());
                const annee_area = parseInt($('#annee_area').val());

                const data = depenseByMonth(dateDepenses,mois_area,annee_area)
                    .map(depense => {return depense.montant});

                let color = "rgb(43,153,216)";

                loadArea.options.scales.yAxes[0].ticks.max = 0;
                if (data.length > 0){
                    color = data.map(x => 'rgb(43,153,216)');
                    color[argMax(data)] = 'rgb(2,3,216)';
                    color[argMin(data)] = 'rgb(216,22,31)';
                    const valueMax = data[argMax(data)];
                    loadArea.options.scales.yAxes[0].ticks.max = pourcentageLimitChart(valueMax);
                }

                loadArea.data.labels = depenseByMonth(dateDepenses,mois_area,annee_area).map(depense => {return depense.date});
                loadArea.data.datasets[0].pointBackgroundColor = color;
                loadArea.data.datasets[0].data = data;
                loadArea.update();
            });

            $('#btnForBarChart').click(function (event) {
                event.preventDefault();
                const annee_bar = parseInt($('#annee_bar').val());
                const data = depenseByYear(dateDepenses,annee_bar)
                    .map(depense => {return depense.montant});

                //let color = "rgb(43,153,216)";

                loadBar.options.scales.yAxes[0].ticks.max = 0;
                if (data.length > 0){
                    /*color = data.map(x => 'rgb(43,153,216)');
                    color[argMax(data)] = 'rgb(2,3,216)';
                    color[argMin(data)] = 'rgb(216,22,31)';*/
                    const valueMax = data[argMax(data)];
                    loadBar.options.scales.yAxes[0].ticks.max = pourcentageLimitChart(valueMax);
                }

                //loadBar.data.datasets[0].pointBackgroundColor = color;
                loadBar.data.datasets[0].data = data;

                montantAnnuelle(annee_bar);
                loadBar.update();
            });


            // Télécharger les tableau statistique
            $('#downloadAreaChartPdf').click(function(event) {
                event.preventDefault();
                const b64data = convertB64ImgToB64(loadArea.toBase64Image());
                const blob = base64ToBlob(b64data,'image/png');
                getLink(blob,'statAreaChartdepense')
            });
            $('#downloadBarChartPdf').click(function(event) {
                event.preventDefault();
                const b64data = convertB64ImgToB64(loadBar.toBase64Image());
                const blob = base64ToBlob(b64data,'image/png');
                getLink(blob,'statBarChartdepense')
            });
        </script>
    {% endif %}
{% endblock %}
