{% extends 'base.html.twig' %}

{% block body %}
    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>{{ 'front.index.app.title'|trans }}</span></h2>
                                <p>
                                    {{ 'front.index.app.description'|trans }}
                                    <br>
                                </p>
                                <a href="{{path('front_account_register')}}" class="site-btn sb-c2">
                                    {{ 'front.index.create_account'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <img src="{{ asset('front/img/money.png') }}" alt=""
                                width="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->

    <!-- How section -->
    <section class="how-section spad set-bg" data-setbg="img/how-to-bg.jpg">
        <div class="container text-white">
            <div class="section-title">
                <h2>{{ 'front.index.block_title1'|trans }}</h2>
            </div>
            <div class="row">
                <div class="col-md-4 border-right border-info">
                    <div class="how-item py-3">
                        <div class="hi-icon">
                            <img src="{{ asset('front/img/icons/brain.png') }}" alt="">
                        </div>
                        <h4>{{ 'front.index.block_process1_title'|trans }}</h4>
                        <p>
                            {{ 'front.index.block_process1_body'|trans|raw }}
                            <a class="btn btn-link text-white-50" href="{{ path('account_connexion') }}">créer un compte</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 border-left border-right border-info">
                    <div class="how-item py-3">
                        <div class="hi-icon">
                            <img src="{{ asset('front/img/icons/smartphone.png') }}" alt="">
                        </div>
                        <h4>{{ 'front.index.block_process2_title'|trans }}</h4>
                        <p>
                            {{ 'front.index.block_process2_body'|trans }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 border-left border-info">
                    <div class="how-item py-3">
                        <div class="hi-icon">
                            <img src="{{ asset('front/img/icons/pointer.png') }}" alt="">
                        </div>
                        <h4>{{ 'front.index.block_process3_title'|trans }}</h4>
                        <p>
                            {{ 'front.index.block_process3_body'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How section end -->
    <!-- How section -->
    <section class="how-section spad set-bg" data-setbg="img/how-to-bg.jpg">
        <div class="container">
            <div class="section-title text-white">
                <h2>{{ 'front.index.block_title2'|trans }}</h2>
            </div>
            <div class="row">
                {% for package in packages %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title text-center h4 text-uppercase">
                                    {{package.name}}
                                </div>
                            </div>
                            <div class="card-body text-dark">
                                <p class="h5 py-4 text-center">
                                    {{package.prix}} {{ 'front.index.currency_label'|trans }} /
                                    {{package.nbreJours}} {{ 'front.index.day_abbr_label'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- How section end -->
{% endblock %}
