{% extends 'base.html.twig' %}

{% block title %}
    {{ 'front.register.title'|trans }}
{% endblock %}

{% block body %}
    <div class="col-md-8 offset-md-2 pb-5">
        <div class="card card-login mx-auto mt-5">
            <div class="card-body">
                <h3 class="text-center pb-5">
                    {{ 'front.register.block_title'|trans }}
                </h3>
                {% include 'front/partials/flashBag.html.twig' %}
                {{form_start(form,{'action': path('front_account_register'),'method': 'post'})}}
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="my-4 py-1 border-bottom border-info">
                            {{ 'front.register.sub_block1'|trans }}
                        </h5>
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.telephone) }}
                        {{ form_row(form.dateNaissance) }}
                    </div>
                    <div class="col-md-6">
                        <h5 class="my-4 py-1 border-bottom border-info">
                            {{ 'front.register.sub_block2'|trans }}
                        </h5>
                        {{ form_row(form.password) }}
                        {{ form_row(form.confirmPassword) }}
                        <h5 class="my-4 py-1 border-bottom border-info">
                            {{ 'front.register.sub_block3'|trans }}
                        </h5>
                        {{ form_row(form.entrepriseName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fa fa-user"></i> {{ 'front.register.form_btn_register'|trans }}
                        </button>
                    </div>
                </div>
                <div class="row mt-4 text-center">
                    <div class="col-md-6">
                        <a href="{{ path('form_resend_confirmation_mail') }}">
                           <i class="fa fa-envelope"></i> {{ 'front.register.link_resend_mail'|trans }}
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('form_send_passwordtoken_mail') }}">
                           <i class="fa fa-lock"></i> {{ 'front.register.link_lost_password'|trans }}
                        </a>
                    </div>
                </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}

