{% extends 'base.html.twig' %}

{% block title %}
    {{ 'front.resetpassword.title'|trans }}
{% endblock %}

{% block styleSheets %}
    <style>
        .my-10{
            margin-top: 100px;
            margin-bottom: 100px
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-6 offset-md-3 pb-5 my-10">
        <div class="card card-login mx-auto mt-5">
            <div class="card-body">
                {% include 'front/partials/flashBag.html.twig' %}
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-4 py-1 border-bottom border-info">
                                {{ 'front.resetpassword.block_title'|trans }}
                            </h5>
                            {{ form(form) }}
                            <div class="form-group">
                                <label for="token"> {{ 'front.resetpassword.form_token'|trans }}</label>
                                <input type="text" class="form-control" value="{{ token }}"
                                       name="token" id="token">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-arrow-circle-down"></i>
                                {{ 'front.resetpassword.form_btn_reset'|trans }}
                            </button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

