{% extends 'base.html.twig' %}

{% block title %}
    {{ 'front.sendpasswordtokenmail.title'|trans }}
{% endblock %}

{% block styleSheets %}
    <style>
        .my-10{
            margin-top: 100px;
            margin-bottom: 100px
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-6 offset-md-3 pb-5 my-10">
        <div class="card card-login mx-auto mt-5">
            <div class="card-body">
                {% include 'front/partials/flashBag.html.twig' %}
                <form action="{{ path('send_passwordtoken_mail') }}" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-4 py-1 border-bottom border-info">
                                {{ 'front.sendpasswordtokenmail.block_title'|trans }}
                            </h5>
                            <div class="form-group">
                                <label for="email">
                                    {{ 'front.sendpasswordtokenmail.form_email'|trans }}
                                </label>
                                <input type="email" class="form-control" name="email" id="email">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-envelope"></i>
                                {{ 'front.sendpasswordtokenmail.form_btn_send'|trans }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}