{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'depense.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center alert alert-info h2">
                <div class="card-title">
                    <i class="fa fa-table"></i> {{ 'depense.index.block_title'|trans }}
                    <a class="btn btn-info" href="{{ path('depense_new') }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                {% include 'admin/partials/flashBag.html.twig' %}
                <div class="table-responsive">
                    <table class="table" id="dataTable">
                        <thead>
                        <tr>
                            <th>{{ 'depense.index.tr_date'|trans }}</th>
                            <th>{{ 'depense.index.tr_montant'|trans }}</th>
                            <th>{{ 'depense.index.tr_produit'|trans }}</th>
                            <th>{{ 'depense.index.tr_enregistreur'|trans }}</th>
                            <th class="not-export" data-sort="false">
                                {{ 'depense.index.tr_actions'|trans }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for depense in depenses %}
                            <tr>
                                <td data-toggle="tooltip" data-placement="bottom" title="{{ depense.raison }}">
                                    {{depense.date | date('d M Y')}}
                                </td>
                                <td>{{depense.montant}}</td>
                                <td>{{depense.produit.name}}</td>
                                <td>{{depense.utilisateur.username}}</td>
                                <td class="not-export">
                                    <a href="{{ path('depense_edit',{'id':depense.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#deleteModal{{depense.id}}" data-toggle="modal" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <!-- Delete Modal-->
                                    <div class="modal fade" id="deleteModal{{depense.id}}" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        {{ 'depense.index.delete_modal_title'|trans }}
                                                    </h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ 'depense.index.delete_modal_body1'|trans }}
                                                    <span class="text-primary">{{ depense.montant }}</span>
                                                    {{ 'depense.index.delete_modal_body2'|trans }}
                                                    <span class="text-primary">{{ depense.produit.name }}</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                        {{ 'depense.index.delete_modal_btn_annule'|trans }}
                                                    </button>
                                                    <a class="btn btn-danger" href="{{ path('depense_delete',{'id':depense.id}) }}">
                                                        <i class="fa fa-trash"></i>  {{ 'depense.index.delete_modal_btn_delete'|trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {%  include 'admin/partials/jsTable.html.twig' %}
{% endblock %}
