{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'organisation.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center alert alert-info h2">
                <div class="card-title">
                    <i class="fa fa-table"></i> {{ 'organisation.index.block_title'|trans }}
                    <a class="btn btn-info" href="{{ path('entreprise_new') }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{ 'organisation.index.tr_nom'|trans }}</th>
                            <th class="not-export" data-sort="false">
                                {{ 'organisation.index.tr_actions'|trans }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entreprise in app.user.entreprises %}
                            <tr>
                                <td>{{entreprise.id}}</td>
                                <td>{{entreprise.name}}</td>
                                <td class="not-export">
                                    <a href="{{ path('entreprise_edit',{'id':entreprise.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#deleteModal{{entreprise.id}}" data-toggle="modal" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <!-- Delete Modal-->
                                    <div class="modal fade" id="deleteModal{{entreprise.id}}" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{{ 'organisation.index.delete_modal_title'|trans }}</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ 'organisation.index.delete_modal_body'|trans }}
                                                    <span class="text-primary">{{ entreprise.name }}</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                        {{ 'organisation.index.delete_modal_btn_annule'|trans }}
                                                    </button>
                                                    <a class="btn btn-danger" href="{{ path('entreprise_delete',{'id':entreprise.id}) }}">
                                                        <i class="fa fa-trash"></i>  {{ 'organisation.index.delete_modal_btn_delete'|trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {%  include 'admin/partials/jsTable.html.twig' %}
{% endblock %}
