{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'dette.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center alert alert-info h2">
                <div class="card-title">
                    <i class="fa fa-table"></i> {{ 'dette.index.block_title'|trans }}
                    <a class="btn btn-info" href="{{ path('dette_new') }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                {% include 'admin/partials/flashBag.html.twig' %}
                <div class="table-responsive">
                    <table class="table" id="dataTable">
                        <thead>
                            <tr>
                                <th>{{ 'dette.index.tr_date'|trans }}</th>
                                <th>{{ 'dette.index.tr_montant'|trans }}</th>
                                <th>{{ 'dette.index.tr_produit'|trans }}</th>
                                <th>{{ 'dette.index.tr_client'|trans }}</th>
                                <th>{{ 'dette.index.tr_enregistreur'|trans }}</th>
                                <th>{{ 'dette.index.tr_statut'|trans }}</th>
                                <th class="not-export" data-sort="false">
                                    {{ 'dette.index.tr_actions'|trans }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dette in dettes %}
                            <tr>
                                <td>
                                    <a href="#detailModal{{dette.id}}" data-toggle="modal">
                                        {{dette.date | date('d M Y')}}
                                    </a>
                                </td>
                                <td class="text-center">{{dette.montant}}</td>
                                <td class="text-center">{{dette.produit.name}}</td>
                                <td>{{dette.client.name}}</td>
                                <td>{{dette.utilisateur.username}}</td>
                                <td>
                                    {% if dette.reglee %}
                                        <span class="badge badge-success p-2">
                                            {{ 'dette.index.tr_reglee'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger p-2">
                                            {{ 'dette.index.tr_non_reglee'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="not-export">
                                    {% if app.user == dette.utilisateur or app.user.role.title != 'EMPLOYE' %}
                                    <a href="{{ path('dette_edit',{'id':dette.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#deleteModal{{dette.id}}" data-toggle="modal" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                    {% if dette.reste > 0 %}
                                    <a href="#reglementModal{{dette.id}}" data-toggle="modal" class="btn btn-secondary">
                                        <i class="fa fa-registered"></i>
                                    </a>
                                    {% endif %}
                                    <!-- Reglement Modal-->
                                    <div class="modal fade" id="reglementModal{{dette.id}}" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{{ 'dette.index.add_modal_title'|trans }}</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ 'dette.index.add_modal_body1'|trans }} <span class="text-primary h5">{{ dette.reste }}</span>
                                                    {{ 'dette.index.add_modal_body2'|trans }} <span class="text-primary h5">{{ dette.client.name }}</span>: <hr>
                                                    <h4>{{ 'dette.index.add_modal_body3'|trans }}</h4>
                                                    <form action="{{ path('reglement_new') }}" method="post">
                                                        <input type="hidden" name="dette_id" value="{{ dette.id }}">
                                                        <div class="form-group">
                                                            <input type="date" class="form-control" id="date"
                                                                   name="date">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="number" class="form-control" id="montant"
                                                                   name="montant" value="0">
                                                        </div>
                                                        <button class="btn btn-primary">
                                                            <i class="fa fa-plus"></i> {{ 'dette.index.add_modal_btn_add'|trans }}
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Delete Modal-->
                                    <div class="modal fade" id="deleteModal{{dette.id}}" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{{ 'dette.index.delete_modal_title'|trans }}</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    L{{ 'dette.index.delete_modal_body1'|trans }}
                                                    <span class="text-primary">{{ dette.montant }}</span> {{ 'dette.index.delete_modal_body2'|trans }}
                                                    <span class="text-primary">{{ dette.client.name }}</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                        {{ 'dette.index.delete_modal_btn_annule'|trans }}
                                                    </button>
                                                    <a class="btn btn-danger" href="{{path('dette_delete',{'id':dette.id})}}">
                                                        <i class="fa fa-trash"></i>  {{ 'dette.index.delete_modal_btn_delete'|trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Detail Modal-->
                                    <div class="modal fade" id="detailModal{{dette.id}}" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        {{ 'dette.index.detail_modal_title'|trans }}
                                                    </h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td class="h5">{{ 'dette.index.detail_modal_tr_date'|trans }}</td>
                                                            <td>{{dette.date | date('d M Y')}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="h5">{{ 'dette.index.detail_modal_tr_montant'|trans }}</td>
                                                            <td>{{dette.montant}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="h5">{{ 'dette.index.detail_modal_tr_montantregle'|trans }}</td>
                                                            <td>{{dette.montantReglee}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="h5">{{ 'dette.index.detail_modal_tr_reste'|trans }}</td>
                                                            <td>{{dette.reste}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="h5">{{ 'dette.index.tr_produit'|trans }}</td>
                                                            <td>{{dette.produit.name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="h5">{{ 'dette.index.detail_modal_tr_client'|trans }}</td>
                                                            <td>{{dette.client.name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="h5">{{ 'dette.index.tr_enregistreur'|trans }}</td>
                                                            <td>{{dette.utilisateur.username}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="h5">{{ 'dette.index.detail_modal_tr_reglement'|trans }}</td>
                                                            <td>
                                                                {% for reglement in dette.reglements %}
                                                                    <a data-toggle="tooltip" data-placement="top" data-html="true"
                                                                       title="<b>{{ reglement.date | date('d M Y') }}</b>"
                                                                       href="{{ path('reglement_edit',{'id':reglement.id}) }}">
                                                                        {{reglement.montant}}
                                                                    </a> &nbsp;
                                                                {% else %}
                                                                    <span class="text-danger">
                                                                      {{ 'dette.index.detail_modal_tr_noreglement'|trans }}
                                                                   </span>
                                                                {% endfor %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="h5">{{ 'dette.index.detail_modal_tr_statut'|trans }}</td>
                                                            <td>
                                                                {% if dette.reglee %}
                                                                    <span class="btn btn-success">
                                                                        {{ 'dette.index.tr_reglee'|trans }}
                                                                    </span>
                                                                {% else %}
                                                                    <span class="btn btn-danger">
                                                                       {{ 'dette.index.tr_non_reglee'|trans }}
                                                                    </span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                        {{ 'dette.index.detail_modal_btn_close'|trans }}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {%  include 'admin/partials/jsTable.html.twig' %}
{% endblock %}
