{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center alert alert-info h2">
                <div class="card-title">
                    {{ 'dette.new.block_title'|trans }}
                </div>
            </div>
            <div class="card-body">
                {{form_start(form)}}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-lg btn-outline-info">
                    <i class="fa fa-plus"></i> {{ 'dette.new.btn_add'|trans }}
                </button>
                {{form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    {{ 'dette.new.title'|trans }}
{% endblock %}