{% extends 'base.html.twig' %}
{% block title %}
    Accès refusé
{% endblock %}
{% block body %}
    <h1 class="col-md-12 alert alert-info">Etes-vous autorisé(e) à faire cela?</h1>
    <div class="alert alert-warning h4 p-3 col-md-12">
        <p><i class="fa fa-warning"></i> Vous n'avez pas le droit d'accéder à cette ressource</p>
        <p>
            <a href="{{ path('accueil') }}" class="btn btn-primary">
                <i class="fa fa-home"></i>  Retourner à la page d'accueil
            </a>
        </p>
    </div>
{% endblock %}