{% extends 'base.html.twig' %}
{% block title %}
    Page introuvable
{% endblock %}
{% block body %}
    <h1 class="col-md-12 alert alert-info">Cette ressource est introuvable</h1>
    <div class="alert alert-warning h4 p-3 col-md-12">
        <p><i class="fa fa-warning"></i> La page que vous avez demandé est introuvable</p>
        <p>
            <a href="{{ path('accueil') }}" class="btn btn-primary">
                <i class="fa fa-home"></i>  Retourner à la page d'accueil
            </a>
        </p>
    </div>
{% endblock %}