{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'utilisateur.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center alert alert-info h2">
                <div class="card-title">
                    <i class="fa fa-table"></i> {{ 'utilisateur.index.block_title'|trans }}
                    <a class="btn btn-info" href="{{ path('utilisateur_new') }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                {% include 'admin/partials/flashBag.html.twig' %}
                <div class="table-responsive">
                    <table class="table" id="dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{ 'utilisateur.index.tr_username'|trans }}</th>
                            <th>{{ 'utilisateur.index.tr_date'|trans }}</th>
                            <th>{{ 'utilisateur.index.tr_role'|trans }}</th>
                            <th class="not-export">{{ 'utilisateur.index.tr_etat'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for utilisateur in utilisateurs %}
                            <tr>
                                <td>{{utilisateur.id}}</td>
                                <td>{{utilisateur.username}}</td>
                                <td>{{utilisateur.dateNaissance | date('d M Y')}}</td>
                                <td>{{utilisateur.role.title}}</td>
                                <td class="not-export">
                                    <form action="{{ path('utilisateur_etat') }}" method="post">
                                        <input type="hidden" name="user_id" value="{{ utilisateur.id }}">
                                        {% if utilisateur.actif %}
                                            <input type="hidden" name="actif" value="0">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fa fa-toggle-on"></i>
                                            </button>
                                        {% else %}
                                            <input type="hidden" name="actif" value="1">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fa fa-power-off"></i>
                                            </button>
                                        {% endif %}
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {%  include 'admin/partials/jsTable.html.twig' %}
{% endblock %}